/*
 * Common
 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

/* in preload in the default template
@import url("https://fonts.googleapis.com/css2?family=Fira%20Sans&subset=latin,latin-ext&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&subset=latin,latin-ext&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&subset=latin,latin-ext&display=swap");
*/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

code {
  padding: 0px 4px 0px 4px;
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
  font: 14px Lato, clean, sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 800;
  margin-top: 1em;
}

h1 {
  font-size: 105%;
  margin-bottom: 1em;
}

h2 {
  margin-top: 3em;
}

p {
  margin: 1em 0;
}

blockquote {
  margin-left: 3ex;
}

a {
  color: #9a3334;
}

a:hover {
  color: #217c7e;
}

table {
  font-size: inherit;
  font: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

thead tr th {
  border-bottom: 1px solid rgb(170, 170, 170);
  border-spacing: 5px;
}

th {
  padding: 0px 10px;
}

td {
  padding: 0px 10px;
}

hr {
  height: 1px;
  border: none;
  color: #aaa;
  background-color: #aaa;
  margin: 2em 0em 3em;
}

/*
 * Home
 */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: "Inconsolata", "Hack", "Monaco", "Courier New", monospace;
  /*font-size: 80%;*/
}

/*
 * Publications
 */

.pubicons {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.pubicon-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.6em 1.2em;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95em;
  transition: all 0.2s ease;
  color: #333;
  font-family: "Fira Sans", sans-serif;
}

.pubicon-btn:hover {
  border-color: #a00;
  color: #a00;
  background-color: #fff5f5;
}

.pubicon-btn.active {
  background-color: #a00;
  border-color: #a00;
  color: #fff;
}

.pubicon-btn b {
  font-weight: 600;
}

.publications {
  clear: both;
}

.book-section {
  margin-bottom: 2em;
}

.year-section {
  margin-bottom: 2em;
}

.year-header {
  cursor: pointer;
  user-select: none;
  padding: 0.75em 0;
  border-bottom: 2px solid #e0e0e0;
  transition: border-color 0.2s ease, color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  width: 100%;
  text-align: left;
}

.year-header:hover {
  border-bottom-color: #a00;
  color: #a00;
}

.section-text {
  font-size: 1.2em;
  font-weight: bold;
  color: inherit;
}

.year-text {
  font-size: 1.2em;
  font-weight: bold;
  color: inherit;
}

.chevron-icon {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.3s ease;
  color: #aaa;
}

.chevron-icon.rotated {
  transform: rotate(180deg);
}

ol {
  list-style: disc;
}

ol li {
  margin-bottom: 1em;
}

.preprint {
  font-style: italic;
  opacity: .4;
}

.author_self {
  color: #9a3334;
  font-weight: 600;
}

a.coauthor {
  color: #212529;
  text-decoration: underline #9a3334 1px;
  text-underline-offset: 3px;
  font-weight: 600;
}

.green {
  color: #54a24b;
}

.text-red {
  color: #9a3334;
}

/*
 * Site
 */

.site {
  text-align: left;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-family: "Fira Sans";
  font-weight: bold;
  margin-bottom: 3em;
}

.header {
  font-family: "Fira Sans";
  text-align: right;
}

@media (max-width: 480px) {
  .title {
    background-color: white;
    box-sizing: border-box;
    line-height: 2em;
    margin-bottom: 2em;
    margin-left: -2em;
    padding: 0.5em 0;
    text-align: left;
    width: 24em;
  }

  .site {
    width: 22em;
    margin: 1em auto 1em auto;
  }

  .social {
    margin-top: 0.5em;
  }

  .float-right {
    margin: 1ex;
  }

  .badge {
    margin-right: -2em;
  }
}

.site .title a {
  color: #9a3334;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .title .social {
  float: right;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .license {
  float: left;
  width: 75%;
  margin-right: 7em;
}

.site .footer .license a {
  color: #8085c1;
  text-decoration: none;
}

.site .footer .rss {
  margin-top: 1.1em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.site .footer .rss a {
  color: #8085c1;
}

.footnotes {
  margin-left: 3ex;
  margin-right: 3ex;
  color: #999;
}

.footnotes hr {
  display: none;
}

.footnotes a {
  color: #76baff;
}

i {
  margin: 0 0.5ex;
}

.social i {
  margin: 0;
}

.badge {
  margin-top: 0.3ex;
  margin-left: 1em;
  padding: 3px 7px;
  background-color: #777;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}

.badge.discontinued {
  background-color: #bbbbbb;
}

.badge.graduated {
  background-color: #349a33;
}

.badge.thesis {
  background-color: #3178c6;
}

.badge.paper {
  background-color: #9a3334;
}

.year {
  font-weight: bold;
  margin-left: -3em;
  line-height: 1.5em;
}

/* Inputs */

input,
textarea {
  font-size: inherit;
  margin: 5px -3px 0px;
  width: 98%;
}

/* Alerts */

.alert {
  padding: 15px;
  margin: 1em 0 18px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert>p,
.alert>ul {
  margin-bottom: 0;
}

.alert>p+p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.screenshot100 {
  max-width: 100%;
}

.screenshot {
  max-width: 80%;
}

/*
 * Posts
 */


/* standard */

#post pre {
  border: 1px solid #dddddd;
  padding: 0.5ex 0.5em;
  background-color: #fffcf6;
  margin-top: 1em;
  margin-bottom: 1em;
}

#post .language-zsh pre {
  background-color: #f4f4f4;
  margin: 1em 0;
}

#post .language-python pre {
  background-color: #f4f4f4;
  margin: 1em 0;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

code {
  font-size: 90%;
  padding: 0.1px 0;
  font-family: "IBM Plex Mono", "Hack", "Monaco", "Consolas", "Liberation Mono",
    "Menlo", monospace;
  color: #5d6063;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

/* profile */

.profile-picture {
  height: 100px;
  width: 100px;
  position: relative;
  margin: -10px 0 0 15px;
  float: right;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .profile-picture img {
    margin-top: -5px;
  }
}

.logo_traffic {
  height: 80px;
  width: 80px;
  position: relative;
  margin: -5px 0 0 15px;
  float: right;
  border-radius: 50%;
  filter: invert(100%) opacity(80%);
  -webkit-filter: invert(100%) opacity(80%);
}

.logo_opensky {
  height: 80px;
  width: 80px;
  position: relative;
  margin: -5px 0 0 15px;
  float: right;
  border-radius: 50%;
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
}

/** Terminal */

.terminal {
  max-width: 600px;
  height: 100px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}

.Terminal__Toolbar {
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  height: 25px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Toolbar__buttons {
  display: flex;
  align-items: center;
}

.Toolbar__button {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  font-size: 7px;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
  border: none;
  margin-right: 4px;
}

.Toolbar__button:hover {
  cursor: pointer;
}

.Toolbar__button--exit {
  background: #f25d2b;
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}

.Toolbar__button:focus {
  outline: none;
}

.Toolbar__user {
  color: #d5d0ce;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 12px;
}

.Terminal__body {
  background: rgba(56, 4, 40, 0.9);
  height: calc(100% - 25px);
  margin-top: -1px;
  padding-top: 2px;
  padding-left: 1ex;
  font-family: "Ubuntu mono";
}

.Terminal__text {
  color: #ddd;
  margin-left: 1ex;
  width: 100%;
}

.Terminal__Prompt {
  margin-top: 10px;
  display: flex;
}

.Prompt__user {
  color: #87d441;
}

.Prompt__location {
  color: #6d85a9;
}

.Prompt__dollar {
  color: #ddd;
}

.Prompt__cursor {
  height: 17px;
  width: 8px;
  margin-right: -1ex;
  background: #aaa;
  animation: 400ms ease infinite alternate blink;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

@media (max-width: 600px) {
  .Terminal {
    max-height: 90%;
    width: 95%;
  }
}

span.icon img {
  vertical-align: middle;
  margin-bottom: .5ex;
  margin-left: .1em;
  margin-right: .1em;
}

/*
 * Blog tag filtering
 */

.tag-filter {
  margin-bottom: 2em;
  padding: .5em 1.5em;
  background-color: #f9f9f9;
  border-radius: 8px;
  border-left: 4px solid #a00;
}

.filter-label {
  margin: 0 0 1em 0;
  color: #333;
  font-weight: 600;
  font-family: "Fira Sans";
  font-size: 0.95em;
}

.tag-btn {
  display: inline-block;
  padding: 0em 1em;
  margin: 0.1em;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: "Fira Sans", sans-serif;
}

.tag-btn:hover {
  border-color: #a00;
  color: #a00;
  background-color: #fff5f5;
}

.tag-btn.active {
  background-color: #a00;
  color: #fff;
  border-color: #a00;
}

.post-item {
  position: relative;
}

.post-tags {
  margin-left: 1em;
  display: inline-block;
}

.tag-label {
  display: inline-block;
  color: #666;
  border-radius: 3px;
  font-size: 0.85em;
  font-family: "Inconsolata", monospace;
}

.tag-label::before {
  content: "#";
  margin-right: 0.2em;
}

.post-date {
  white-space: nowrap;
}