---
layout: default
title: xoolive.org » Xavier Olive
permalink: /
---

<div id="home">

  <h1>Technical notes</h1>
  <ul class="posts">
  {% for post in site.posts %}
      {% if post.tags[0] == "technical" or post.tags[0] == "notebook" %}
      <li><span>{{ post.date | date_to_string }}</span>
      {% if post.tags[0] == "notebook" %}
        <i class="fab fa-python" style="color: #ffc864"></i>
      {% else %}
        <i class="fas fa-angle-double-right" style="color: #aabcbc"></i>
      {% endif %}
      <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
  {% endfor %}
  </ul>

  <h1>Ramblings and scribblings</h1>
  <ul class="posts">
  {% for post in site.posts %}
      {% if post.tags[0] != "technical" and post.tags[0] != "notebook" and
      post.tags[0] != "digest" %}
      <li><span>{{ post.date | date_to_string }}</span>
        <i class="fas fa-random" style="color: #aabcbc"></i>
          <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
  {% endfor %}
  </ul>

  <h1>Disclaimer</h1>

  <ul>
    <li>I write here about anything that crosses my mind on a given day;</li>
    <li>I prefer to avoid the process of moderating comments (mostly spam);</li>
    <li>If something really bugs you, you can still contact me
      <a href="https://github.com/xoolive/xoolive.github.io/issues">here</a>.
    </li>
  </ul>


</div>

