---
layout: default
title: Rambling and scribbling
permalink: /rambling/
---

<div id="home">
  <h1>Rambling and scribbling</h1>
  <ul class="posts">
    {% for post in site.posts %} {% if post.tags[0] != "technical" and
    post.tags[0] != "notebook" and post.tags[0] != "digest" and post.tags[0] !=
    "til" %}
    <li>
      <span>{{ post.date | date_to_string }}</span>
      <i class="fas fa-random" style="color: #aabcbc"></i>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
