<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Xavier Olive" />

   <!-- http://www.favicon.cc/?action=icon&file_id=710977 -->
   <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAdXV1AP///wCMjIwAT09OAJSUlAA4ODgA29vbAO3t7QCnp6sAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB0kAAAAAE0REIAAAAERJhUIgAAAEk5VEiQAAADk4VJKSAAAJiIVJIpAAAAUzVJJZAAAAWIVJKJAAAAA4REKJAAAABEBEKJAAAAAEQAE5AAAAAARgFJAAAAAAQGFkAAAAAAAAFGAAAAAAAAEEAAAAAAAAAEAAAAAAAAD/+AAA/wEAAPwBAAD4AwAA8AMAAOAHAADgDwAAwB8AAMA/AACAfwAAgP8AAIH/AAAD/wAAB/8AAA//AAAf/wAA" rel="icon" type="image/x-icon" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/solarized-light.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />

   <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />

   <!-- Social network logos -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

   <!-- In case you need some equations -->
   <script type="text/javascript"
           src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>

   {% if page.url == "/le-petit-prince/" %}
   <!-- Ugly trick -->
   <style type="text/css">
   code {
     font-family: inherit;
     color: #999;
     font-size: 90%;
     float: right
   }
   </style>
   {% endif %}
</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">Xavier Olive</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about-me/">about me</a>
    <div class="social">
    <a class="extra" href="https://github.com/xoolive">
        <i class="fa fa-github fa-lg"></i>
    </a>
    <a class="extra" href="https://linkedin.com/in/xoolive">
        <i class="fa fa-linkedin fa-lg"></i>
    </a>
    <a class="extra" href="https://twitter.com/x00live">
        <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a class="extra" href="https://delicious.com/xo.olive">
        <i class="fa fa-delicious fa-lg"></i>
    </a>
    <a class="extra" href="https://instagram.com/xoolive">
        <i class="fa fa-instagram fa-lg"></i>
    </a>
    <a class="extra" href="https://runkeeper.com/user/xoolive/profile">
        <i class="fa fa-globe fa-lg"></i>
    </a>
    </div>
  </div>

  {{ content }}

  <div class="footer">
    <div class="license">
      <p>
      Unless specified otherwise, the contents of this website is published
      under the terms of the Creative Commons
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA</a>
      license. <a id="more-about-this" href="/copyright">More about this.</a>
      </p>
      <p>
      <img height=20pt width=auto alt="by"
           src="https://creativecommons.org/images/deed/by.png"/>
      <img height=20pt width=auto alt="nc"
           src="https://creativecommons.org/images/deed/nc.png"/>
      <img height=20pt width=auto alt="sa"
           src="https://creativecommons.org/images/deed/sa.png"/>
    </div>
    <div class="rss">
      <a href="/atom.xml">
        <i class="fa fa-rss fa-lg"></i>
      </a>
    </div>
  </div>
</div>

</body>
</html>
